.root {
     -fx-background-image: url("background.jpg");
}

#gameTitleId {
 -fx-font-size: 32px;
 -fx-font-family: "Arial";
 -fx-fill: #f0fff0;
 -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2);
}

#gameSetupId {
 -fx-font-size: 15px;
 -fx-font-family: "Arial";
 -fx-fill: WHITE;
}

#gameSetupSelectionId {
 -fx-font-size: 13px;
 -fx-font-family: "Arial";
 -fx-text-fill: WHITE;
}

#gameOverTargetId {
-fx-text-fill:WHITE;
-fx-font-family: "Arial";
-fx-font-size: 20px;
-fx-font-weight:bold;
}

.button {
    -fx-text-fill: blue;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#fffaf0, #61a2b1);
}

.button:disabled {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-opacity: 1.0 ;
    -fx-background-color: linear-gradient(#87cefa, #61a2b1);
}
